@model ErgoSalud.Models.ERGOS_Empresas_N01

<script type="text/javascript">

    $(window).load(function () {
            var ctx = document.getElementById("myChart");
            var myChart = new Chart(ctx, {
                type: 'bar',
            data: {
                labels: ["I", "II", "III", "IV", "V", "VI", "VII", "VIII", "IX"],
                datasets: [{
                label: 'Categorías',
                    data: [@ViewBag.Final_Empresa.PROMEDIO_C_I_100, @ViewBag.Final_Empresa.PROMEDIO_C_II_100, @ViewBag.Final_Empresa.PROMEDIO_C_III_100, @ViewBag.Final_Empresa.PROMEDIO_C_IV_100 ,
                        @ViewBag.Final_Empresa.PROMEDIO_C_V_100 , @ViewBag.Final_Empresa.PROMEDIO_C_VI_100, @ViewBag.Final_Empresa.PROMEDIO_C_VII_100 , @ViewBag.Final_Empresa.PROMEDIO_C_VIII_100 , @ViewBag.Final_Empresa.PROMEDIO_C_IX_100],
                    backgroundColor: ['@ViewBag.Resultados_Colores[0]', '@ViewBag.Resultados_Colores[1]', '@ViewBag.Resultados_Colores[2]', '@ViewBag.Resultados_Colores[3]', '@ViewBag.Resultados_Colores[4]', '@ViewBag.Resultados_Colores[5]', '@ViewBag.Resultados_Colores[6]', '@ViewBag.Resultados_Colores[7]', '@ViewBag.Resultados_Colores[8]'],
                    hoverBackgroundColor: ['@ViewBag.Resultados_Colores[0]', '@ViewBag.Resultados_Colores[1]', '@ViewBag.Resultados_Colores[2]', '@ViewBag.Resultados_Colores[3]', '@ViewBag.Resultados_Colores[4]', '@ViewBag.Resultados_Colores[5]', '@ViewBag.Resultados_Colores[6]', '@ViewBag.Resultados_Colores[7]', '@ViewBag.Resultados_Colores[8]']
           }]
            },
            options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                        }
                    }]
                }, legend: {
                    display: false,
                    labels: {
                        fontColor: 'rgb(255, 0, 255)'
                    }
                }
            }
        });
    });
</script><br>

    <h3 align="center">RESULTADOS GENERALES</h3>
    <hr>
    <table class="table table-hover table-condensed table-striped ">
        <tbody>
            <tr>
                <th colspan="2" align="center">
                    Empresa: @Html.DisplayFor(model => model.Razon_Social)
                </th>
                <th>
                    @if (@ViewBag.Final_Empresa.PROMEDIO_Final_100 != null)
                    {<span> Puntaje Final: @ViewBag.Final_Empresa.PROMEDIO_Final_100.ToString("0.00")</span>}
                else
                { <span> Puntaje Final: N/A</span>}
                </th>
                <th>
                    Evaluados: @ViewBag.Evaluaciones_counter
                </th>
            </tr>
        </tbody>
    </table>

    <h4 align="center">EVALUACIÓN DE PERCEPCIÓN DE CLIMA LABORAL Y NO DISCRIMINACIÓN</h4>

    <hr>
    <div class="col-xs-12  ">
        <canvas id="myChart"></canvas>
        <hr>
    </div>
    <div class="col-xs-12  ">

        <table class="table table-hover table-condensed table-striped ">
            <tbody>
                <tr>
                    <th colspan="2" align="center">
                        Apartado de Referencia
                    </th>
                    <th>
                        Puntaje Máximo
                    </th>
                    <th>
                        Puntaje Obtenido
                    </th>
                </tr>
                <tr>
                    <td>I</td>
                    <td>Reclutamiento y selección de personal</td>
                    <td align="center">12</td>
                    <td align="center" style="background-color:@ViewBag.Resultados_Colores[0]"> @ViewBag.Final_Empresa.PROMEDIO_C_I </td>
                </tr>
                <tr>
                    <td>II</td>
                    <td>Formación y capacitación</td>
                    <td align="center">12</td>
                    <td align="center" style="background-color:@ViewBag.Resultados_Colores[1]">@ViewBag.Final_Empresa.PROMEDIO_C_II</td>
                </tr>
                <tr>
                    <td>III</td>
                    <td>Permanencia y ascenso</td>
                    <td align="center">18</td>
                    <td align="center" style="background-color:@ViewBag.Resultados_Colores[2]">@ViewBag.Final_Empresa.PROMEDIO_C_III</td>
                </tr>
                <tr>
                    <td>IV</td>
                    <td>Corresponsabilidad en la vida laboral, familiar y personal</td>
                    <td align="center">27</td>
                    <td align="center" style="background-color:@ViewBag.Resultados_Colores[3]">@ViewBag.Final_Empresa.PROMEDIO_C_IV</td>
                </tr>
                <tr>
                    <td>V</td>
                    <td>Clima laboral libre de violencia</td>
                    <td align="center">42</td>
                    <td align="center" style="background-color:@ViewBag.Resultados_Colores[4]">@ViewBag.Final_Empresa.PROMEDIO_C_V</td>
                </tr>
                <tr>
                    <td>VI</td>
                    <td>Acoso y Hostigamiento</td>
                    <td align="center">24</td>
                    <td align="center" style="background-color:@ViewBag.Resultados_Colores[5]">@ViewBag.Final_Empresa.PROMEDIO_C_VI</td>
                </tr>
                <tr>
                    <td>VII</td>
                    <td>Accesibilidad</td>
                    <td align="center">15</td>
                    <td align="center" style="background-color:@ViewBag.Resultados_Colores[6]">@ViewBag.Final_Empresa.PROMEDIO_C_VII</td>
                </tr>
                <tr>
                    <td>VIII</td>
                    <td>Respeto a la diversidad</td>
                    <td align="center">6</td>
                    <td align="center" style="background-color:@ViewBag.Resultados_Colores[7]">@ViewBag.Final_Empresa.PROMEDIO_C_VIII</td>
                </tr>
                <tr>
                    <td>IX</td>
                    <td>Condiciones generales de trabajo</td>
                    <td align="center">12</td>
                    <td align="center" style="background-color:@ViewBag.Resultados_Colores[8]">@ViewBag.Final_Empresa.PROMEDIO_C_IX</td>
                </tr>
            </tbody>
        </table>
        <div class="row">

            <hr>
            <p>
                La puntuación máxima de la evaluación de clima laboral es de 168 equivalente a 100 puntos.<br>
                Calificación general obtenida:  @{
                    <b>@ViewBag.Final_Empresa.PROMEDIO_Final_100.ToString("0.00") puntos.</b>
                }
            </p>

        </div>
    </div>
 
