@model ErgoSalud.Models.ERGOS_Empresas_N01

@{
    ViewBag.Title = "Edit";

    List<SelectListItem> Encuesta = new List<SelectListItem>();
    Encuesta.Add(new SelectListItem
    {
        Text = "Encuesta I",
        Value = "1"
    });
    Encuesta.Add(new SelectListItem
    {
        Text = "Encuesta II",
        Value = "2"
    }); Encuesta.Add(new SelectListItem
    {
        Text = "Encuesta III",
        Value = "3"
    });
}
<h2>Reportes</h2>
<hr />
<div class="col-xs-12 col-sm-3">
    @{Html.BeginForm("ExportToExcel", "Encuestas", FormMethod.Get);
        {
            @Html.HiddenFor(model => model.id_empresa, new { id = "id_empresa" })

            <button style="margin-left:25px" class="btn btn-success" type="submit">
                <i class="fa fa-file-excel-o"> </i>  Exportar a Excel
            </button>

        }
        Html.EndForm();
    }
</div>
<div class="col-xs-12 col-sm-3">
    @if (Model.id_encuesta == 2 || Model.id_encuesta == 3)
    {
        <a class="btn btn-primary" href="@Url.Action("Reporte_General_PDF", "Encuestas", new {id = Model.id_empresa, id_C = Model.id_encuesta })"><i class="fa fa-file-pdf-o" style="font-size:20px;color:red" aria-hidden="true"></i> Reporte Digital </a>
    }
    else if (Model.id_encuesta == 4)
    {
        <a class="btn btn-primary" href="@Url.Action("Reporte_General_PDF", "MultiEvaluaClimaLaboral", new {id = Model.id_empresa })"><i class="fa fa-file-pdf-o" style="font-size:20px;color:red" aria-hidden="true"></i> Reporte Digital </a>

    }
    else if (Model.id_encuesta == 5)
    {
        <a class="btn btn-primary" href="@Url.Action("Reporte_General_PDF", "MultiEvaluaE360", new {id = Model.id_empresa })"><i class="fa fa-file-pdf-o" style="font-size:20px;color:red" aria-hidden="true"></i> Reporte Digital </a>

    }

</div><br>
<br><hr />
<h2>Modificación de Empresa</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.id_empresa)

    <div class="form-group">
        @Html.Label("Razón Social", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Razon_Social, new { htmlAttributes = new { @class = "form-control form-line" } })
            @Html.ValidationMessageFor(model => model.Razon_Social, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("RFC", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.RFC, new { htmlAttributes = new { @class = "form-control form-line" } })
            @Html.ValidationMessageFor(model => model.RFC, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Actividad Principal", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Actividad_Principal, new { htmlAttributes = new { @class = "form-control form-line" } })
            @Html.ValidationMessageFor(model => model.Actividad_Principal, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Fecha de Aplicación", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Fecha_Aplicacion, new { htmlAttributes = new { @class = "form-control datepicker form-line" } })
            @Html.ValidationMessageFor(model => model.Fecha_Aplicacion, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Telefono, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control form-line" } })
            @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Encuesta", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10"> 
            @Html.DropDownList("id_encuesta", null, "Seleccionar Encuesta", htmlAttributes: new { @class = "form-control form-line  disabled", @readonly = "readonly",  @required = "required" })

            @Html.ValidationMessageFor(model => model.id_encuesta, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Nombre de Contacto", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Contacto_Nombre, new { htmlAttributes = new { @class = "form-control form-line" } })
            @Html.ValidationMessageFor(model => model.Contacto_Nombre, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Domicilio", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Domicilio, new { htmlAttributes = new { @class = "form-control form-line" } })
            @Html.ValidationMessageFor(model => model.Domicilio, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control form-line" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Guardar" class="btn btn-primary" />
            @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-success" })
        </div>
    </div>
</div>
}

